{% extends "base.html" %}
{% block content %}
<form action={%url 'user_info' %} method="post" class="form">
    {% csrf_token %}
    <div class="dynamic">
        <div class="form-example form-group">
            <label>User link </label>
            <input type="url" name="urls" required>
        </div>
    </div>
  <button id="add_form_field" class="btn btn-primary">Добавить</button>
  <button type="submit" class="btn btn-primary">OK</button>
</form>
<script>

    $(document).ready(function() {
        let container = $('.dynamic')
        var wrapper = $(".form-example");
        var add_button = $("#add_form_field");
    
        $(add_button).click(function(e) {
            e.preventDefault();
            var new_wrapper = wrapper.clone()
            new_wrapper.append('<a href="#" class="delete">Delete</a></div>')
            $(container).append(`<div class='form-group'> ${new_wrapper.html()} </div>`); 
        });
    
        $(container).on("click", ".delete", function(e) {
            e.preventDefault();
            $(this).parent('div').remove();
        })
    });
</script>
{% endblock content %}